@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

 :root{
  --primary-white: #fff;
  --primary--light-gray: #f4f4f4;
  --primary--dark-gray: #666666;
  --primary--gray: #ccd1d9;
  --primary-dark: rgb(52, 58, 64);
  --primary-red: rgb(247, 54, 6);
  --primary-violet: rgb(117, 2, 184);
  --primary--black: #000000;

}

 body{
  font-family: 'Montserrat', sans-serif !important;
 }

 /*--------------  MENU LINKS  -----------------*/
nav{
  z-index: 2;
}


/*--------------  MENU LINKS  -----------------*/
nav a.nav-link{
  font-weight: 700;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
} 

.navbar-nav > li > a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-bottom: 0.1875rem solid var(--primary-dark) ;
}

.navbar-brand{
  max-width:17.25rem;
  padding: 0 !important;
}

@media(max-width: 768px){
  .navbar-brand{
    width: 7rem;
  }
  }
    
.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-bottom: 0.1875rem solid var(--primary-red);
}

.navbar-nav > li > a:hover{
  border-bottom: 0.1875rem solid var(--primary-red);
}

.navbar-toggler-icon{
  color: white;
}

/*--------------  HEADER  -----------------*/
.header-wraper{
  position:relative;
  background: url(header_back.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1{
  color:var(--primary-red);
  text-transform: uppercase;
}

/*--------------  TYPED TEXT  -----------------*/
.typed-text{
  font-size: 2rem;
  color:var(--primary-white);
}

@media(max-width: 768px){
  .main-info h1 {
    font-size: 1.7rem !important;
    }
    
    .typed-text{
      font-size: 1.3rem !important;
    }
  }
    
/*--------------  HEADER MAIN OFFER BUTTON  -----------------*/
.btn-main-offer{
  border: 1px solid var(--primary-violet);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-main-offer:hover{
  color: var(--primary-violet);
  font-weight: bolder;
  background-color: var(--primary-white);
  text-decoration: none;
  transition: .2s ease-in-out;
}

/*--------------  PARTICLES JS  -----------------*/
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}

@media(max-width: 765px){
  .particles-canvas{
    display: none;
  }
}

/*--------------   ABOUT ME SECTION  -----------------*/

.photo-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img{
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  padding: .1rem;
  border: 1px solid var(--primary-red);
}

.about-heading{
  color: var(--primary-red);
  text-transform: uppercase;
}
 

@media(max-width: 468px){
  .profile-img{
    width: 15rem;
    height: 15rem;
  }
}

/*--------------   SERVICES SECTION  -----------------*/
.services{
  text-align: center;
  padding-bottom: 2rem;
  background-color: var(--primary--light-gray);
}

.services h1{
  color: var(--primary-dark);
  text-transform: uppercase;
}

.services .circle{
  position: relative;
  margin: 0.375rem auto;
  background-color: var(--primary-red);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}

.services .icon{
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 25px;
  left: 25px;
  transform: translate(-50%, -50%);
}

.services .box{
  height: 16rem;
  border-bottom: 1px solid var(--primary-red);
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  background-color: var(--primary-white);
  transition: 0.3s ease-in-out;
}

.services .box:hover{
  background: var(--primary-red);
  border-bottom: 1px solid var(--primary-dark);
}

.services .box:hover .icon{
  color: var(--primary-dark);
}

.services .box:hover .circle{
  background: var(--primary-white);
}

.services .box:hover p{
  color: var(--primary-white);
}

/*--------------   EXPERIENCE SECTION  -----------------*/

.experience{
  padding: 0.7rem;
}

.experience-wrapper{
  position: relative;
  padding: 3.125rem;
  overflow: hidden;
}

.experience h1{
  text-transform: uppercase;
  color: var(--primary-red);
}

.experience-wrapper::before{
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary--gray);
  z-index: 1;
}

.timeline-block{
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right{
  float: right;
}

.timeline-block-left{
  float: left;
  direction: rtl;
}

.marker{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-dark);
  background: var(--primary-red);
  margin-top: 0.825rem;
  z-index: 3;
}

.timeline-content{
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary--dark-gray);
  direction: ltr;
}

.timeline-content h3{
  margin-top: 0.3125rem;
  color: var(--primary-red);
  font-weight: 100;
}


/*--------------  MEDIA  -----------------*/

@media(max-width: 768px){
  .experience-wrapper:before{
    left:1.4rem;
    margin-bottom: 1.875rem;
  }

  .timeline-block-right{
    float: none;
    width: 100%;
  }
  
  .timeline-block-left{
    float: none;
    direction: ltr;
    width: 100%;
  }
    
}

/*--------------   PORTFOLIO SECTION  -----------------*/
.portfolio-wrapper{
  background: var(--primary--light-gray);
  padding: 3rem 0;
}

.portfolio-wrapper h1{
  color:var(--primary-red)
}

.portfolio-img{
  width: 15rem;
  height: 9.615rem;
  border: 1px solid var(--primary-red);
  padding: 0.5rem 0.5rem;
}

.portfolio-img-box{
  position: relative;
  margin: 1rem;
}

/*--------------   OVERFLOW BOX  -----------------*/
.overflow{
  position: absolute;
  opacity: 0;
  background: var(--primary--black);
  width: 15rem;
  height: 9.615rem;
  top: 0;
  bottom: 1px solid var(--primary-red);
  cursor: pointer;
}

.portfolio-img-box:hover .overflow{
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}

.portfolio-icon{
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 3.6rem;
  color: var(--primary-red);
  font-size: 1.5rem;
}

.portfolio-img-box:hover .portfolio-icon{
  opacity: 0.7;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

/*--------------   POPUPBOX   -----------------*/
.portfolio-img-popupbox{
  width: 45rem;
  padding: 0 0.5rem;
}

.hyper-link {
  cursor: pointer;
  color: var(--primary-red);
}

.hyper-link:hover {
  cursor: pointer;
  color: var(--primary-violet);
}

/*--------------   MEDIA   -----------------*/
@media(max-width: 768px){
  .portfolio-img-popupbox{
    width: 100%;
  }
}

@media(max-height: 570px){
  .portfolio-wrapper{
    height: 100%;
  }

  .portfolio-img-popupbox{
    width: 60%;
  }
}

@media(max-height: 280px){
  .portfolio-wrapper{
    height: 90%;
  }

  .portfolio-img-popupbox{
    width: 30%;
  }
}