 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

 :root{
  --primary-white: #fff;
  --primary-dark: rgb(255, 255, 255, 0);
  --primary-red: rgb(247, 54, 6);
}

 body{
   font-family: "Montserrat" Verdana;
 }

/*--------------  MENU LINKS  -----------------*/
nav a.nav-link{
  font-weight: 700;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
} 

.navbar-nav > li > a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-bottom: 0.1875rem solid var(--primary-dark) ;
}

.navbar-brand{
  max-width:17.25rem;
  padding: 0 !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-bottom: 0.1875rem solid var(--primary-red);
}

.navbar-nav > li > a:hover{
  border-bottom: 0.1875rem solid var(--primary-red);
}

.navbar-toggler-icon{
  color: white;
}